<%inherit file="template.html"/>
<%doc> début de ce qui va être le "self.body()" ...  </%doc>

<h3 class="center">Rappel de l'utilité du site :</h3>

<style>
  body{ 
    background: linear-gradient(to right, #ff905c, #ff6347)
  }

    h3.center {
        color : white;
        font-weight: 900 ;
    }
    h6{
        color: white;
        font-weight: 100 ;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
    }
</style>
<h6> Ce site permet de créer des tickets de remboursement pour l'entreprise "Vos Rêves", dans le remboursement, on retrouve le prix de la nuit d'hôtel, le prix des différents plats de la journée, le prix du plein d'essence et le prix des péages.</h6>

<h3 class="center">Les différentes pages du site :</h3>
<h6> La partie insertion permet de créer notre numéro de ticket de remboursement en remplissant les informations nécessaires.</h5>
<h6> La partie Affichage qui permet d'afficher le remboursement du ticket de façon détaillé, car tout n'est pas totalement remboursé</h5>
<h6> Et il existe aussi une dernière page Suppresion afin de supprimer notre ticket de remboursement si nous avons fait une erreur d'insertion </h5>


<%doc> fin de ce qui va être le "self.body()" ...  </%doc>

